.box-shadow{
    background: #FFFFFF;
    padding: 1rem;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s, box-shadow 0.3s ease-in-out 0s;
    opacity: 1;
    transform-origin: center top;
}

.box-shadow:hover {
    box-shadow: 0 6px 15px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.1);
}